<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TopFeeds</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logon</display-name>
    <servlet-name>Logon</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.Logon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logon</servlet-name>
    <url-pattern>/Logon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAccount</display-name>
    <servlet-name>RegisterAccount</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.RegisterAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAccount</servlet-name>
    <url-pattern>/RegisterAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetAccount</display-name>
    <servlet-name>ResetAccount</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.ResetAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetAccount</servlet-name>
    <url-pattern>/ResetAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accounts</display-name>
    <servlet-name>Accounts</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.GetAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accounts</servlet-name>
    <url-pattern>/GetAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFacebook</display-name>
    <servlet-name>AddFacebook</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.AddFacebook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFacebook</servlet-name>
    <url-pattern>/AddFacebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFeeds</display-name>
    <servlet-name>GetFeeds</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.GetFeeds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFeeds</servlet-name>
    <url-pattern>/GetFeeds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserPreference</display-name>
    <servlet-name>GetUserPreference</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.GetUserPreference</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserPreference</servlet-name>
    <url-pattern>/GetUserPref</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUserPreference</display-name>
    <servlet-name>SaveUserPreference</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.SaveUserPreference</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserPreference</servlet-name>
    <url-pattern>/SaveUserPref</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTwitter</display-name>
    <servlet-name>AddTwitter</servlet-name>
    <servlet-class>au.edu.unsw.cse.topfeeds.action.AddTwitter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTwitter</servlet-name>
    <url-pattern>/AddTwitter</url-pattern>
  </servlet-mapping>
</web-app>